{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">
                <h1>{{ product.name }}</h1>
                <h2>
                    {{ product.hisBrand }}
                </h2>
                <h3>
                    {% for cat in product.hisCategory %}
                        {{ cat.title }},
                    {% endfor %}
                </h3>
                <div class="text-primary" style="font-size: 4em;font-weight: bold;">{{ product.formattedPrice }}</div>
                <a href="#" class="btn btn-primary">Contacter l'agence</a>
            </div>
        </div>
    </div>
</div>
    <div class="container mt-4">

        <p>
            {{ product.description | nl2br }}
        </p>
        <div class="row">
            <div class="col-md-8">
                <h2>specificité</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Unit Price</td>
                        <td>{{ product.unitPrice }}</td>
                    </tr>
                    <tr>
                        <td>Unit Number</td>
                        <td>{{ product.unitNumber }}</td>
                    </tr>
                    <tr>
                        <td>Created At</td>
                        <td>{{ product.unitNumber }}</td>
                    </tr>
                    <tr>
                        <td>Updated At</td>
                        <td>{{ product.unitNumber }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
